/* 와이드 pc  */
#wrap{overflow: hidden; } /* width:1600px; margin:0 auto는 살짝 간격만들기*/
	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
.videoBox p {position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -500px; }

#videoBG {
   position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
  
}

#imgBG{
	position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}

.down{display: block; font-size: 20px; position: absolute; color: #f5692e; font-family: 'Zootopia'; left:50%; margin-left: -90px; bottom: 3%; text-align: center;
	animation:ani 1s infinite  alternate;}
@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff;}
	100% { transform:scale(1.2); opacity:0.8; color:#888;}
}	
.down i{font-size: 30px; margin-top: 5px;color: #f5692e;}
	

/* subTrailer */
.subContent { background: #000; padding-top: 5%}
.ostSub {width: 100%}

.videoBox h2 { position: absolute; top: 50%; left: 50%; width: 772px; margin-top: -120px; margin-left: -386px; font-size: 70px; font-weight: normal; text-align: center; font-family: 'Zootopia'; line-height: 120px; color: #f5692e; text-shadow: 5px 3px 0px rgba(255,255,255,1); }
.videoBox h2 span { display: block; font-size: 150px; }







/* ABOUT CSS */

#content{width:100%}
#content .about {position: relative; height: 100%; overflow: hidden}
#content .about>img {width: 80%; position: relative; left: 0; top: 0}
#content .about>div {width: 40%; height: 150%; transform: rotate(20deg); background: #f5692e; position: absolute; right: -70px; top: -90px}
#content .about .about-text{transform: rotate(-20deg); margin-top: 70%; margin-left: 20%}

#content .about div .about-text h3 a{display: block }
#content .about div .about-text h3 a img{width: 80%; height: auto}
#content .about div>p {width: 70%; font-size: 1.2em; color: #333; margin-top: 10%}




/* CHARACTER CSS */

#content .character{width: 100%; height: 2600px; margin: 0 auto; background: url(../images/contentback.jpg) bottom fixed no-repeat; background-size: cover; position: relative; font-family: "zootopia"}
#content .character h3{color: #f5692e; font-size: 50px}
#content .character h3 a{display: block; color: #f5692e; margin: 0 0 130px 100px; padding-top: 200px}
#content .character .big-judy{width: 80%; margin: 0 10%; z-index: 5; overflow: hidden}
#content .character .big-judy img{float: left; width: 40%; margin:10% 5%; background: url(../images/dot.png) center no-repeat; padding: 0 10%}
#content .character .big-judy dl {font-family: 'Nanum Gothic'; float: right; width: 50%; margin-top: 10%; text-align: center}
#content .character .big-judy dl dt{font-family: "zootopia"; color: #3682d6; font-size: 50px; line-height: 2em}
#content .character .big-judy dl dd{width: 70%; font-size: 25px; margin: 0 auto}


/* WORLD CSS */

#content .container h3{width: 100%; height: 400px; font-family: "zootopia"; background: rgba(0,0,0,.8); font-size: 100px; text-align: center}
#content .container h3 a{display: block; color: #fff; padding: 150px 0}


/* OST CSS */

#content .ost {width: 100%; background: url(../images/ost_back.jpg) center fixed no-repeat; background-size: cover}
#content .ost h3{font-family: "zootopia"; font-size: 70px; text-align: center}
#content .ost h3 a{display: block; padding: 120px 0 70px; color: #fff}
#content .ost p{font-family: "zootopia"; font-size: 40px; color: #fff; margin-bottom: 20px; text-align: center}
#content .ost .change img{width: 40%; margin-left: 25%; padding-bottom: 100px}
#content .ost .change{filter: grayscale(100%); transition: .5s ease}
#content .ost .change:hover{filter: grayscale(0%)}
#content .ost ul{float: right; margin-right: 25%;}
#content .ost ul li{width: 100px; height: 100px; margin-top: 10%}
#content .ost ul li a{display: block; width: 100px; height: 100px; border-radius: 50px; padding: 5%}
#content .ost ul li a:hover{box-shadow: 4px 4px 8px #000000; }
#content .ost ul li a img{width: 100px; height: 100px; border-radius: 50px}





/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    .videoBox p{display: none}
    
    #content .character .big-judy{position: absolute; left: 0%; bottom: 0%}
    #content .character .big-judy img{float: none; width: 60%; margin: 0 20%}
    #content .character .big-judy dl {float: none; width: 80%; margin:80px 10%}
    #content .character .big-judy dl dt{line-height: 1.5em}
    #content .character .big-judy dl dd{width: 100%; margin: 0; font-size: 20px}
    
    
    #content .container h3{height: 280px; font-size: 60px; text-align: center}
    #content .container h3 a{display: block; color: #fff; padding: 100px 0}
    
    #content .ost .change img{width: 50%; margin-left: 25%}

	#content .ost ul{margin-right: 15%}
    #content .ost ul li{width: 70px; height: 70px}
    #content .ost ul li a{margin: 10px;width: 70px; height: 70px; border-radius: 35px}
    #content .ost ul li a img{width: 70px; height: 70px; border-radius: 35px}
    
    #content .ost p{text-align: center; font-size: 30px; color: #fff; margin:10px auto}

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .videoBox h2 span {font-size: 100px; }
    #content .about {}
    #content .about>img {width: 100%; height: auto; position: relative; left: 0; top: 0}
    #content .about>div {width: 100%; height: 320px; transform: rotate(0deg); position: relative; left: 0; top: 0}
    #content .about .about-text{transform: rotate(0deg); margin:0}

    #content .about div .about-text h3 a{display: block;margin: 0 100px; padding-top: 20px }
    #content .about div .about-text h3 a img{width: 70%; margin: 0 15%; height: auto}
    #content .about div>p {width: 70%; margin: 0 15%; margin-top: 5%; font-size: 1.1em; text-align: center}

    
    #content .character{height: 2400px}
    #content .character h3{text-align: center; font-size: 30px}
    #content .character h3 a{margin: 0 auto 100px; padding-top: 100px}
    #content .ost ul{display: none}
    .subContent { background: #000; padding-top: 100px}
}    

/* 모바일 */
@media screen and (max-width:640px) {
    .videoBox h2 span {font-size: 70px; }
    #content .character .big-judy img{border-radius: 45%}
    #content .ost .change img{width: 70%; margin: 0 15%}
    #content .ost {width: 100%; background: url(../images/ost_back.jpg) center fixed no-repeat; background-attachment: scroll}
    
	#footerArea address {margin-top: 150px}
    
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
    #content .character{height: 1800px}
}


