/* list.php css */

#announce select{width: 100px; height: 25px; margin-bottom: 30px}
#list_search {float: right; height:30px;padding-top:10px}

#list_search .list_search1 {float:left;	margin-top:2px}
#list_search .list_search2 {float:left; font-weight: 700; margin: 2px 10px 0 300px}
#list_search .list_search3 {float:left;	margin-left:5px;margin-top:1px}
#list_search .list_search3 select {width:100px;height:25px;border:solid 1px #cccccc
}
#list_search .list_search4 {float:left;	margin-left:3px}
#list_search .list_search4 input {width:120px;height:21px;border:solid 1px #cccccc;
    background: #fef6df}
#list_search .list_search5 {float:left;	margin-left:5px;margin-top:1px}

#list_title {padding:15px; font-weight: bold;border-top:solid 2px #f7aa36;background-color:#fef6df;margin-bottom:3px; border-radius: 5px; color: #333}

#list_title li {display:inline}
#list_title #list_title1 {margin-left:15px}
#list_title #list_title2 {margin-left:350px}
#list_title #list_title3 {margin-left:400px}
#list_title #list_title4 {margin-left:100px}
#list_title #list_title5 {margin-left:100px}

#list_content {}
#list_item {height:18px;margin-top:2px;	padding:15px;border-bottom:solid 1px #eeeeee}
#list_item #list_item1{float:left;width:60px;text-align:center}
#list_item #list_item2{float:left;width:560px;margin-left: 60px}
#list_item #list_item3{float:left;width:150px;margin-left: 102px;text-align:center}
#list_item #list_item4{float:left;width:150px;text-align:center}
#list_item #list_item5{float:left;width:40px;margin-left: 45px;text-align:center}

#page_button {margin-top:20px}

#page_num a{display: inline-block; width: 20px; height: 20px; padding: 9px 10px; background: #f7aa36; color: #fff; margin-right: 10px}
#page_num b{width: 20px; height: 20px; padding: 8px 10px; background: #fff; color: #f7aa36; border: 1px solid #f7aa36 ; margin-right: 10px}}
#page_num {margin-top:10px; margin-bottom: 30px; text-align:center}

#button {margin-left: 900px; width: 260px; height: 30px;border-radius: 5px; font-weight: bold; text-align:center}


#button a{display: block; float: right; color: #333; width: 100px; padding: 10px; margin-right: 5px; border-radius: 5px; background:#f7aa36}






/* write_form.php css */

#write_form_title {margin-top:20px;	width:99%;height:50px; color: #333; font-size: 20px; font-weight: 700; text-align:center;padding-top:25px; border-radius: 50px;
	border-top:solid 2px #f7aa36;background-color:#fef6df}

#write_form {width: 80%; margin: 10px 10% 20px}
#write_form #write_row1 {width:99%; height:50px; margin:2px 0 2px 0}
#write_form #write_row2 {width:99%; height:50px; margin:2px 0 2px 0}
#write_form #write_row3 {width:99%; height:251px; margin:2px 0 2px 0}

.write_line {width:99%; border-bottom:solid 1px #cccccc}
#write_form .col1 {float:left;width:120px;text-align:center;padding:15px; background-color:#eeeeee}

#write_form #write_row3 .col1 {height:116px;padding-top:120px}
#write_form .col2 {	float:left;	margin-left: 10px;	margin-top:2px}
#write_form #write_row1 .col2 {	float:left;	margin-top:14px}
#write_form #write_row1 .col3 {	float:right;margin-top:14px;margin-right:14px}

#write_row2 .col2 input {width:700px;height:42px;border:solid 1px #cccccc}
#write_row3 .col2 textarea {width: 700px; height: 240px;border:solid 1px #cccccc}

#write_button {margin-top:15px;	width:260px; margin: 0 auto;text-align:center}
#write_button a{display: block; float: right; color: #333; width: 100px; padding: 10px; margin-right: 5px; border-radius: 5px; background:#f7aa36 }
#write_button input{display: block; float: right; color: #333; width: 120px; padding: 10px; margin-right: 5px; border-radius: 5px; background:#f7aa36; border: none; outline: none; font-size: 15px; text-align: center }




/* view.php css */

#view_comment {	margin:10px 0 0 10px}

#view_title {padding:15px; height: 25px; font-weight: bold;border-top:solid 2px #f7aa36;background-color:#fef6df;margin-bottom:3px; color: #333; border-radius: 5px}
#view_title1 {float:left;width:70%}
#view_title2 {float:left;width:28%;	text-align:right}

#view_content {	width:96%;	min-height:200px;padding:15px; margin-bottom: 30px;
	overflow:hidden;line-height:150%;border-bottom:solid 1px #cccccc}

#view_button {margin: 20px 120px 0;width: 530px; height: 30px;border-radius: 5px; font-weight: bold; text-align:center}
#view_button a{display: inline; float: left; color: #333; width: 100px; padding: 10px; margin-right: 5px; border-radius: 5px; background:#f7aa36 }