#wrap{width: 100%; height: 100%; z-index: -100; position: absolute; background: url(../images/back.jpg) center no-repeat}



#login_page{font-family: 'Noto Sans KR'; width: 800px; margin: 0 auto; margin-top: 400px; border-radius: 5px}
#login_page>p{font-size: 1.5em}
#login_page .haseyo{float: left; margin-right: 25px}
#login_page form{}
#login_page #title{}
#login_page #title h2{background: url(../../common/images/logo.png) center no-repeat; height: 87px; text-indent: -9999px;  margin-bottom: 30px}


#login_page #login_form{height: 500px; background:rgba(255,255,255,.8); padding: 20px; border-radius: 10px}

#login_page #login_insert p:nth-child(1){font-size: 25px; margin: 50px 20px 50px 420px;line-height: 1.5em; font-weight: 700}
#login_page #login_insert p:nth-child(2){font-size: 13px; font-weight: 500; margin-bottom: 20px}


#login_insert .id_input{ margin-bottom: 10px}

.login_input{width: 324px; height:45px; margin-bottom:7px; padding-left:20px; font-size:16px; outline: none}

.login_button{width: 350px; height:45px; margin:3px 0 20px 0; font-size:16px; background:#806433; color:#fff; border:none; font-weight:800; outline: none}



.join_button>p{font-size: 15px; margin-top: 50px}
.join_button a{color: #806433; font-weight: bold; text-decoration: underline}

.close_icon{
    position: absolute;
    right: 500px;
    top: 125px;
    display: block;
    transition: 1s;
    padding: 5px;
    color: #fff;
    font-size: 20px
}
.close_icon:hover{
    transform: rotate(-360deg)
}