/* 국민참여 본문 */

.visual p{font-size: 1.125em; text-align: center}

#content .title_area{font-family: 'Nanum Gothic', sans-serif}
#content .title_area .line_map{font-size: 12px; color: #999; float: right; right: 10px; top: 10px; margin: 30px 0}
#content .title_area h2{font-family: 'Nanum Gothic', sans-serif; clear: both; font-size: 50px; font-weight: 800; text-align: center ; margin: 130px 0 30px 0}
#content .title_area p{font-size: 1.125em; text-align: center}


#content .content_area{font-family: 'Nanum Gothic', sans-serif}
#content .content_area ul{overflow: hidden; display: block; width: 1200px; padding: 150px 0}
#content .content_area ul li{width: 200px; height: 200px; border-radius: 100px; background-color: #fef6df; text-align: center; float: left; margin-right: 45px;transition: all .5s}
#content .content_area ul li:last-child{margin-right: 0}
#content .content_area ul li:hover{background-color: #f7aa36}
#content .content_area ul li a{display: block}
#content .content_area ul li:hover a{color: #fff}
#content .content_area ul li i{font-size: 50px; display: block; text-align: center;margin-bottom: 15px}
#content .content_area ul li span{display: block; font-size: 20px; font-weight: 700; text-align: center; margin-top: 50px}


#content .content_area .toktok{overflow: hidden}
#content .content_area .banner{float: left; width: 550px; margin-left: 50px; margin-bottom: 100px}
#content .content_area .banner img{position: relative; left: 50px}
#content .content_area .banner p{width: 500px; text-align: justify; margin-top: 50px; line-height:1.5em}


#content .content_area .toktok ul{float: left; width: 409px; padding: 0; margin-left: 100px}
#content .content_area .toktok ul li{display: block; box-shadow: 5px 5px 5px #ccc; width: 409px; height: 128px; border-radius: 0; background: #f9f9f9; text-align: center; font-size: 30px; margin-bottom: 45px; text-align: center}
#content .content_area .toktok ul li span{margin-top: 50px}
#content .content_area .toktok ul li:hover a{transform: scale(1.1); color: #333}
#content .content_area .toktok ul li:first-child{width: 409px; background: url(../images/content1/sub_3_phone_06.jpg) no-repeat; text-indent: -9999px; overflow: hidden}
