/* 국민참여 칭찬합시다 본문 */


#content .title_area{font-family: 'Nanum Gothic', sans-serif}
#content .title_area .line_map{font-size: 12px; color: #999; float: right; right: 10px; top: 10px; margin: 30px 0}
#content .title_area h2{clear: both; font-size: 50px; font-weight: 800; text-align: center ; margin: 130px 0 30px 0}
#content .title_area p{font-size: 1.125em; text-align: center}
#content .title_area h3{font-size: 22px; font-weight: 700; text-align: center; margin-left: 500px; margin-top: 100px; background-color: #fef6df; width: 200px; height: 200px; border-radius: 100px}
#content .title_area h3:hover{background-color: #f7aa36}
#content .title_area h3 span{display: block; padding-top: 85px; text-align: center}


.content_area{font-family: 'Nanum Gothic', sans-serif; position: relative}
.content_area .subNav{overflow: hidden; display: block; width: 1200px; padding: 150px 0}
.content_area .subNav li{width: 200px; height: 200px; border-radius: 100px; background-color: #fef6df; text-align: center; float: left; margin-right: 45px;transition: all .5s}
.content_area .subNav .current{background-color: #f7aa36}
.content_area .subNav li:last-child{margin-right: 0}
.content_area .subNav li:hover{background-color: #f7aa36}
.content_area .subNav li a{display: block}
.content_area .subNav li:hover a{color: #fff}
.content_area .subNav li i{font-size: 50px; display: block; text-align: center;margin-bottom: 15px}
.content_area .subNav li span{display: block; font-size: 20px; font-weight: 700; text-align: center; margin-top: 50px}

.content_area h3{font-size: 30px; font-weight: 700; text-align: center; margin-bottom: 50px}
.content_area p{margin: 0 auto; margin-left: 180px; margin-bottom: 50px; line-height: 2em}

.content_area img{margin: 50px 180px}