#content p{text-align: center; font-size: 1.2em; margin-bottom: 100px}
#content .title_area h2{margin: 130px 0 80px}

.content_area{width: 1200px; height: 600px; background: #ccc; text-align: center; font-size: 3em}